/* @font-face {
  font-family: 'Droid Arabic Naskh';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/droidarabicnaskh/v7/DroidNaskh-Regular.eot);
  src: url(//fonts.gstatic.com/ea/droidarabicnaskh/v7/DroidNaskh-Regular.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/droidarabicnaskh/v7/DroidNaskh-Regular.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/droidarabicnaskh/v7/DroidNaskh-Regular.woff) format('woff'),
       url(//fonts.gstatic.com/ea/droidarabicnaskh/v7/DroidNaskh-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Droid Arabic Naskh';
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/droidarabicnaskh/v7/DroidNaskh-Bold.eot);
  src: url(//fonts.gstatic.com/ea/droidarabicnaskh/v7/DroidNaskh-Bold.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/droidarabicnaskh/v7/DroidNaskh-Bold.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/droidarabicnaskh/v7/DroidNaskh-Bold.woff) format('woff'),
       url(//fonts.gstatic.com/ea/droidarabicnaskh/v7/DroidNaskh-Bold.ttf) format('truetype');
} */
@font-face {
    font-family: 'Droid Arabic Naskh';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/DroidNaskh-Regular.eot);
    src: url(../fonts/DroidNaskh-Regular.eot?#iefix) format('embedded-opentype'), url(../fonts/DroidNaskh-Regular.woff2) format('woff2'), url(../fonts/DroidNaskh-Regular.woff) format('woff'), url(../fonts/DroidNaskh-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Droid Arabic Naskh';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/DroidNaskh-Bold.eot);
    src: url(../fonts/DroidNaskh-Bold.eot?#iefix) format('embedded-opentype'), url(../fonts/DroidNaskh-Bold.woff2) format('woff2'), url(../fonts/DroidNaskh-Bold.woff) format('woff'), url(../fonts/DroidNaskh-Bold.ttf) format('truetype');
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, a{border: 0; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; margin: 0; outline: 0; padding: 0; vertical-align: baseline}
html {font-size: 100%;overflow-y: scroll;-webkit-text-size-adjust: 100%;}
body { background: #f5f5f5; font-family: 'Droid Arabic Naskh'; font-weight: normal;font-size: 16px; line-height: 16px; direction: rtl;color:#000} 
html,body{width:100%;height:99.5%}
#magazine-book .Container {width: 100%;clear:both}
#magazine-book {width:22%;height:100%;padding:0 10px 10px;-webkit-box-sizing: border-box;box-sizing: border-box;margin: 0 auto}
#magazine-book .sc_contact_form { padding-top: 8px; border-top: 3px solid #8A0000;text-align:left;margin-top: 10px;  overflow: hidden;margin-bottom: 10px;text-align: right}
#magazine-book .sc_contact_form h3{font-size: 15px;font-weight: bold;line-height: 21px}
#magazine-book .sc_contact_form h3:nth-of-type(2){padding-top: 8px;border-top: 3px solid #F11717}
#magazine-book .widget_latest_comments .widget_body {position: relative;background: #fff;border: 1px solid #e3e3e3;border-top: none;padding: 0px 11px;overflow: hidden}
#magazine-book .widget.widget_latest_comments .widget_header {background: #8A0000;padding-right: 10px; padding-left: 10px;height:30px}
#magazine-book  .widget_header .widget_title{border: none;margin: 0;color: #fff;padding: 0;padding-top: 6px}

#magazine-book h2.page-title {margin-bottom: 9px;padding: 8px 0 8px;border-top: 3px solid #a2a9ae;border-bottom: 1px solid #e3e3e3;color: #8A0000;font-size: 16px;line-height: 24px;font-weight: bold;}
.addressAlanbaa{text-align:center;padding-top:10px;padding-bottom:10px;line-height: 20px}
@media screen and (max-width: 1100px){#magazine-book{width:100%}}}



.imgBox{
    display: block;
    overflow: hidden;
    clear: both;
	margin-top: 10px;
}
.imgBox img{margin: 10px auto 0;display: block;max-width: 170px;}
.infBox {display: block;
    overflow: hidden;
    clear: both;}
.infBox label{
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
	    width: 120px;
    display: inline-block;
    vertical-align: top;
    background: #f1f1f1;
    padding: 5px 10px 5px 0;
}
.infBox span{
    font-size: 16px;
    line-height: 26px;
	margin-top: 4px;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
   
}
.infBox{border-bottom:1px solid #ddd;margin-bottom:10px}
.infBox:last-of-type{border-bottom:none;margin-bottom:0}
.engText{direction:ltr;}
.english {direction:ltr;text-align:left;    font-family: sans-serif;}
.english #magazine-book .sc_contact_form{text-align:left}
.english .infBox label{padding: 5px 0 5px 10px;}